.gradient_text {
  /* Fallback: Set a background color. */
  background-color: #86d3ff;

  /* Create the gradient. */
  background-image: linear-gradient(90deg, #86d3ff -49.34%, #e386fd 100%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
