.icon_menu {
  display: none;
  opacity: 0;
}

.barswrapper {
  display: none;
}
.bars {
  display: none;
}

@media screen and (max-width: 600px) {
  .icon_menu {
    display: block;
    opacity: 1;
  }
  .barswrapper {
    display: block;
    background-color: #0d0e10;
    height: calc(100vh - 5rem);
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease-out;
  }

  .bars {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    color: #9ea0ab;
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    text-align: center;
    border-bottom: 0.1rem solid #9ea0ab;
    transition: all 0.5s ease-out;
  }

  .bars:hover {
    color: #fff;
  }

  .bars:nth-child(1) {
    border-top: 0.1rem solid #9ea0ab;
  }
}
