.hero__image-profile {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 2s ease;
}

.hero__image-profile:hover {
  filter: none;
}

.hero__image-cover {
  position: absolute;
  width: 30rem;
  bottom: 10rem;
  height: auto;
}

.hero__image-wave-gif {
  width: 4rem;
  height: 4rem;
  transform: translateY(0.5rem);
  margin-left: 1rem;
}

.services-img {
  width: 50px;
  height: auto;
}
