.hero__image-profile {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 2s ease;
}

.hero__image-profile:hover {
  filter: none;
}

.hero__image-cover {
  position: absolute;
  width: 30rem;
  bottom: 10rem;
  height: auto;
}

.hero__image-wave-gif {
  width: 4rem;
  height: 4rem;
  transform: translateY(0.5rem);
  margin-left: 1rem;
}

.services-img {
  width: 50px;
  height: auto;
}

/* .portfolio-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 0.6rem;
}
.portfolio-image {
  height: auto;
  max-width: 60rem;
  min-width: 40rem;
  border-radius: 0.6rem;
  transition: 0.4s ease;
}

.portfolio-image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.4s ease;
}

.portfolio-image-container:hover .portfolio-image-overlay {
  height: 100%;
}
.portfolio-image-container:hover .portfolio-image {
  transform: scale(1.2);
} */
