.form_wrapper {
}

.first_row {
  display: flex;
  justify-content: space-between;
  row-gap: 1rem;
  width: 100%;
}

.label {
  font-size: 1.4rem;
  color: #9ea0ab;
  display: block;
}

.input {
  height: 4rem;
  background-color: #14151c;
  border-radius: 0.4rem;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: 0.1rem solid #07070a;
  color: #b9b9ba;
  max-width: 40rem;
  width: 100%;
}

.textarea {
  height: 8rem;
  background-color: #14151c;
  border-radius: 0.4rem;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: 0.1rem solid #07070a;
  color: #b9b9ba;
  width: 100%;
}

.second_row {
  margin-top: 1.5rem;
  width: 100%;
}

.third_row {
  margin: 1.5rem 0rem;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .first_row {
    flex-direction: column;
  }
  .input {
    width: 90%;
  }
  .textarea {
    width: 90%;
  }
  .third_row {
    display: flex;
    justify-content: center;
  }
  .nameContainer {
    padding-left: 2rem;
  }

  .emailContainer {
    padding-left: 2rem;
  }

  .second_row {
    padding-left: 2rem;
  }
}
